
body {
  font-family: Arial, sans-serif; /* clean font */
  margin: 0%; 
  overflow: scroll; 

}
.modal{
  background-image: url("Beneath_the_blue\static\photo\bg.jpg"); /* relative to CSS file */
}
#bg-video, .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* For video */
        z-index: -1; /* Behind content */
        border: none; /* Explicitly remove any border */
        outline: none; /* Remove outline */
    }
         

        @media (max-width: 768px) {
            #bg-video {
                object-fit: cover; /* Optimize for mobile */
            }
        }

