
 .modal{
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  height: 100vh;             /* full viewport height */
  background-color:  var(--background); /* or whatever your background is */
}
.modal-content {
    background-color: rgba(0,0, 20, 0.6); /* Semi-transparent background */;
    padding: 2rem;
    border-radius: 5%;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;   
    
}
.modal-header h3 {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;   
}
/*Modal field section */
.modal-field{
    margin: 1rem;
    border-radius: 10%;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2);;
}

.modal-field label {
    display: block;
    margin: 0.5rem;
    font-style: 1.25rem;
    font-weight: 500;
    color: #fff;
}
 .modal-field input {
    width: 100%;
    padding: 0.3rem;
    margin: 0.5rem; /* Margin for spacing */
    border: 1px solid black; /* White border for contrast */
    border-radius: 4px;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent black to blend with ocean */
    color: white; /* White text for readability */
    box-shadow: none; /* Remove any default shadow */
}
.modal-field input::placeholder {
    color: rgba(256, 256, 256, 0.75); /* Placeholder text color */
    opacity: 0.75; /* Slightly transparent for a softer look */
}
.modal-content-btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.modal-content-btn button {
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.7) ;
    color: #fff; /* Dark text for contrast */
    border: none;
    border-radius: 4px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
}
.modal-body a {
    color: #fff; /* White text for links */
    text-decoration: none; /* Remove underline */
    font-size: 1rem;
    margin-top: 1rem;
    display: inline-block; /* Make it block-level for better spacing */
}