{%  extends "base.html" %}
{% load static %}

{% block  content %}
    <link rel="stylesheet" href="{% static 'css/community.css' %}">
    <title>Beneath The Blue Community</title>
</head>
<body >
  <div class="video-wrapper" style="height: 0px;">
  <video autoplay muted loop id="bg-video">
    <source src="{% static 'videos/sign-in-bg.mp4' %}" type="video/mp4">
  </video>
  <div class="video-overlay"></div>
    </div>
    <div>
      <div class="content-overlay">
        <header class="header">
        <div class="container header-content header-container">
            <div class="logo">
                <a href="{% url 'home' %}" class="logo">
                    <h1>Beneath The Blue</h1>
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}" class="nav-link">~Home</a></li>
                    <li><a href="{% url 'explore_map' %}" class="nav-link">~Community</a></li>
                    <li><form method="get" class="search-bar" style="color : #FFDAB9;">
                  {% csrf_token %}
                  <select id="category_select" onchange="location = this.value;" aria-placeholder="Select a category">
                    <option value="{% url 'community_page' %}">Select a Category</option>
                    {% for category in Category_data %}
                      <option value="{% url 'community_page' %}?category={{ category.id }}" {% if category.id == Category_selected.id %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                  </select>
                </form></li>
                        <li><a href="{% url 'sign_up' %}" class="nav-btn secondary-btn">~Sign Up</a></li>
                    </ul>
                    {% comment %} <button class="hamburger" id="hamburger" aria-label="Menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button> {% endcomment %}
                </nav>
            </div>
        </header>

        <div class="intro">
          <div class="section">
            <h2>{{Category_selected.name}}</h2>
            <p style="color : #E6F7FF;">{{Category_selected.description}}</p>
          </div>
          {% for community in Community_data %}
            <div class="card-container">
              <div class="card"><a href= "{{community.link}}" target="_blank" style="color : #CCFFFF;">{{community.title}}</a></div>
              <div class="card_paragraph"><a href="{{community.link}}" target="_blank" style="color : #87CEEB;">{{community.description}}</a></div>
            </div>
          {% endfor %}
        </div>
        {% comment %} <footer class="footer" >
          <p>&copy; 2023 Ocean Guardians. All rights reserved.</p>
          <p>Dedicated to protecting marine life for future generations.</p>
        </footer>  {% endcomment %}
  </div> 
</body>
        {% endblock %} 